{% extends 'base.html' %}

{% block body %}
<!--============================
        Start ==> Banner
=============================-->
<section class="products-list py-5 container ">
    <div class="row d-flex justify-content-between">

        {% for product in object_list %}
        <div class="card col-4 px-0 my-5" style="width: 18rem;">
            {% if product.image %}
            <img class="card-img-top" src="{{product.image.url}}" alt="Card image cap">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p style="height: 100px; overflow-y: scroll;" class="card-text">{{product.subtitle}}</p>
                <p class="card-text">${{product.price}}</p>
                <a href="{{product.slug}}" class="btn btn-primary">View</a>
            </div>
        </div>
        {% endfor %}

    </div>

</section>
<!--============================
        End ==> Banner
=============================-->
{% endblock body %}